.header-container{
  height: 10%;
}

.profile-container{
  height: 80vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
}


.footer-container{
  display: flex;
  justify-content: space-around;
  height: 10%;
}
.footer-container > img {
  max-height: 70px;
  max-width: 70px;
}