.header-container{
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.profile-container{
  height: 80vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.liked-nope-image{
  width: 7rem;
  transform: rotateY(0deg) rotate(-45deg);

}


.favorite-dog-card{
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.favorite-dog-card > img{
  height: 100px;
  width: 100px;
}


.footer-container{
  display: flex;
  justify-content: space-around;
  height: 10%;
}
.footer-container > img {
  max-height: 70px;
  max-width: 70px;
}